|import React from 'react';
|import assets from './assets';
|import #{componentName} from './#{componentName}';
|import { #{componentName}Props } from './types';
|
|export default {
|   title: 'Components/#{componentName}',
|   component: #{componentName},
|   parameters: { assets },
|};
|
|export const #{componentName}Demo = (props: #{componentName}Props) => {
|   return <#{componentName} {...props}/>;
|};
|
|#{componentName}Demo.args = {};
|
