|import React, { FC } from 'react';
|import { #{componentName}Props } from './types';
|
|const #{componentName}: FC<#{componentName}Props> = () => {
|
|   return (
|     <div id={id} style={style} className={classes}>
|       #{componentName}
|     </div>
|   );
|};
|
|#{componentName}.defaultProps = {};
|
|export default #{componentName};
|
